@import url("observablehq:default.css");
/* Importing a Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#observablehq-sidebar {
  position: fixed;
  background: var(--theme-background-alt);
  color: var(--theme-foreground-muted);
  font: 14px var(--sans-serif);
  visibility: hidden;
  font-weight: 500;
  width: 272px;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: -272px;
  box-sizing: border-box;
  padding: 0 .5rem 1rem;
  overflow-y: auto;
}

 /* h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #00468b;
  } */
  /* p, ul, li  {
    font-size: 1.2rem;
  }
  p {
    color: #000000
  }
  label {
    font-size: 18px;
  } */

  /* tspan {
    fill: #282541;
    font: 700 16px/1.4 "Roboto Condensed", sans-serif;
  } */
  